<div class="container mt-5 pt-3">
  <h2 class="text-center mb-4">Technical Skills</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">


    <div class="col" data-aos="fade-up">
      <div class="card h-100 shadow">
        <div class="card-body">
          <h5 class="card-title text-primary"><i class="fas fa-code me-2"></i>Languages</h5>
          <ul class="list-unstyled">
            <li>Java</li>
            <li>SQL</li>
            <li>C++(STL)</li>
            <li>HTML, CSS</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col" data-aos="fade-up" data-aos-delay="100">
      <div class="card h-100 shadow">
        <div class="card-body">
          <h5 class="card-title text-success"><i class="fas fa-layer-group me-2"></i>Frameworks</h5>
          <ul class="list-unstyled">
            <li>Spring, Spring Boot, Spring MVC</li>
            <li>Hibernate, Spring Data JPA</li>
            <li>Angular 19 (Standalone)</li>
            <li>Bootstrap</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col" data-aos="fade-up" data-aos-delay="200">
      <div class="card h-100 shadow">
        <div class="card-body">
          <h5 class="card-title text-warning"><i class="fas fa-tools me-2"></i>Tools</h5>
          <ul class="list-unstyled">
            <li>Maven</li>
            <li>Git & GitHub Desktop</li>
            <li>Postman, Insomnia</li>
            <li>Eclipse, Visual Studio Code</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col" data-aos="fade-up" data-aos-delay="300">
      <div class="card h-100 shadow">
        <div class="card-body">
          <h5 class="card-title text-danger"><i class="fas fa-database me-2"></i>Databases</h5>
          <ul class="list-unstyled">
            <li>MySQL</li>
            <li>MS SQL Server</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col" data-aos="fade-up" data-aos-delay="400">
      <div class="card h-100 shadow">
        <div class="card-body">
          <h5 class="card-title text-info"><i class="fas fa-network-wired me-2"></i>Microservices & APIs</h5>
          <ul class="list-unstyled">
            <li>REST APIs</li>
            <li>Spring Cloud, Eureka</li>
            <li>Spring Cloud Config, API Gateway</li>
            <li>OpenFeign, Resilience4J</li>
          </ul>
        </div>
      </div>
    </div>


<div class="col" data-aos="fade-up" data-aos-delay="600">
  <div class="card h-100 shadow">
    <div class="card-body">
      <h5 class="card-title text-secondary">
        <i class="fas fa-brain me-2"></i>Programming Fundamentals
      </h5>
      <ul class="list-unstyled">
        <li>Data Structures</li>
        <li>Algorithms</li>
        <li>Object-Oriented Programming (OOP)</li>
        <li>Problem Solving</li>
      </ul>
    </div>
  </div>
</div>

<div class="col" data-aos="fade-up" data-aos-delay="500">
  <div class="card h-100 shadow">
    <div class="card-body">
      <h5 class="card-title text-dark"><i class="fas fa-cubes me-2"></i>Java EE & Core Java</h5>
      <ul class="list-unstyled">
        <li>Servlets</li>
        <li>JSP</li>
        <li>JDBC</li>
      </ul>
    </div>
  </div>
</div>


  </div>
</div>
