<div class="container mt-5 pt-3">
  <h2 class="text-center mb-4">Experience</h2>
  <div class="card shadow">
    <div class="card-body">
      <h5 class="card-title">SDE Trainee <! – Software & Systems> </h5>
      <h6 class="card-subtitle mb-2 text-muted">Dynaspede Integrated Systems, Hosur, Tamilnadu</h6>
      <p class="card-text"><strong>Duration:</strong> Jan 2024 – Jan 2025 (Full-time)</p>
      <ul>
        <li>Designed and developed software applications focusing on performance and scalability.</li>
        <li>Implemented new features and optimizations for better responsiveness.</li>
        <li>Collaborated with cross-functional teams to debug, test, and resolve software issues.</li>
        <li>Participated in regular code reviews and contributed to documentation to uphold quality standards and best practices.</li>
        <li>Strengthened problem-solving and debugging skills for scalable software systems.</li>
      </ul>
    </div>
  </div>
  <br>

  <div class="card shadow">
    <div class="card-body">
      <h5 class="card-title">Intern</h5>
      <h6 class="card-subtitle mb-2 text-muted">Academor, Bengaluru, Karnataka</h6>
      <p class="card-text"><strong>Duration:</strong> April 2023 – Oct 2023 (Internship)</p>
      <ul>
        <li>Assisted in developing internal software modules and supporting database management tasks.</li>
      </ul>
    </div>
  </div>
</div>

